ul {
  background-color: darkslategrey;

  list-style: none;
  display: flex;
  justify-content: center;
}

ul li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.active {
  border-bottom: 2px solid lightgray;
}
